body {
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 10px;
}
.container {
   max-width: 1143px;
   padding-right: 1.5rem;
   padding-left: 1.5rem;
   margin: 0 auto;
  
}
.header-logo-img {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 9.7rem;
    height: 3rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.header-logo {
    flex-basis: 20%;
}
.header nav {
    flex-basis: 125%;
}
.header-ul {
    display: flex;
    list-style-type: none;
    gap: 5.5rem;
    
    
}
.header-ul a:hover{
    padding-bottom: .8rem;
    border-bottom: #2B3541 1px solid;
}
.social {
    display: flex;
    gap: 2rem;
    justify-content: space-between;


}
.social-in {
    display: block;
    background-image: url(../images/insta.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    transition: all .3s ease;
    transform: scale(1);
    opacity: 0.8;
}
.social-in:hover {
    transform: scale(1.2);
    opacity: 1;
}
.social-fb {
    display: block;
    background-image: url(../images/fs.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    transition: all .3s ease;
    opacity: 0.8;
}
.social-fb:hover {
    transform: scale(1.2);
    opacity: 1;
}
.header-ul a {
    font-size: 1.8rem;
    color: #2B3541;   
    text-decoration: none;
    transition: all .3s ease;
}
.text { 
   max-width: 67.6rem;
   margin-top: 24.4rem;
}
.title {
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 34px;
    letter-spacing: 1px;
    color: #2B3541;
}
.subtitle {
    display: inline-block;
    font-size: 4rem;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1px;
    color: #2B3541;
}
.desc {
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 29.7rem;

    margin-bottom: 4.3rem;
    color: #2B3541;
}
.banner-text {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B3541;
    background-color: #FBF138;
    width: 25.2rem;
    padding: 2rem 3.5rem;
    text-align: center;
    transition: all .3s ease;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
}
.banner-text:hover {
    background-color: #2B3541;
    color: #FBF138;
    cursor: pointer;
}
.arrow {
    display: block;
    background-image: url(../images/banner-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 5.2rem;
    height: 5.5rem;
    border: none;
    background-color: transparent;
    margin-top: 24.5rem;
    cursor: pointer;
    
}
.text-right {
    margin-left: 9rem;
}
.box {
   display: flex;
   max-width: 79rem;
   width: 100%;
   gap: 2rem;
   position: absolute;
   top: 5rem;
   z-index: -1;
   right: -25.5rem;
   height: 94%;
}
.box-gradient-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
    flex-basis: 70%;
    height: 100%;
}
.box-gradient-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
    flex-basis: 30%;
    height: 100%;
    width: 23.5rem;
}
.box-image {
   position: absolute;
   top: 3px;
   right: -10.3rem;

   max-height: 100%;

}
.timetable-flex {
    display: flex;
    height: 100%;
}
.event {
    margin-top: 16rem;
}
.events-headers {

    color: #2B3541;
}
.box-event-flex {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.event-data {
    font-size: 1.8rem;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    font-weight: 700;
    
}
.box-event {
    display: grid;
    gap: 20px;
    grid-template-rows: 60rem 1fr;
    grid-template-areas: "a b c";
}
.event-title {
    font-size: 2.8rem;
    line-height: 125%;
    font-weight: 700;
    max-width: 26rem;
    color: #2B3541;
}
.button-participate {
    position: absolute;
    border: none;
    right:    0;
    bottom:   0;
    background-color:rgba(251, 241, 56, 1);
    border: none;
    padding: 1rem 2rem;
    margin-bottom: 0;
    font-size: 18px;
    
}
.btn-event {
    display: none;
    position: absolute;
    background-image: url(../images);
    height: 30px;
    width: 30px;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
}

.box-event-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    left: 0;
    top: 0;
    box-sizing: border-box;
    
}
.box-event-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
}
.box-event-gradient:hover .participate {
    opacity: 1;
    text-decoration: none;
}
.box-event-gradient:hover .button-participate {
    display: none;
}
.participate {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #2B3541;
    background-color: #FBF138;
    padding: 2rem 3.7rem;
    margin-left: 3.7rem;
    opacity: 0;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}
.participate:hover {
    color: #FBF138;
    background-color: #2B3541;
}
.event-maraphon {
    background-image: url(../images/promo-left.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: a;
    transition: all .3s ease;
    position: relative;
}
.event-vebinar-1 {
    background-image: url(../images/promo-center.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: b;
    transition: all .3s ease;
    position: relative;
}
.event-vebinar-2 {
    background-image: url(../images/promo-right.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: c;
    transition: all .3s ease;
    position: relative;
}
.events-headers h3 {
    font-size: 4rem;
}
.timetable {
    display: flex;
    justify-content: space-between;
    margin-top: 11.5rem;
}
.timetable-title {
    font-size: 4rem;
    font-weight: 700;
    max-width: 49%;
    line-height: 125%;
    color: #2B3541;
}
.timetable-data {
    font-size: 2.8rem;
    line-height: 125%;
    max-width: 18.5rem;
    margin-top: 4.5rem;
    color: #2B3541;
}
.timetable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 31px 63px 279px;
    gap: 20px;
}
.grid-timetable {
    border: 1px solid #000;
    padding: 20px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
   
    transition: .3s linear border;
}
.grid-timetable:nth-child(1) img {
    width: 6.5rem;
}
.grid-timetable:nth-child(2) img {
    width: 4.2rem;
}
.grid-timetable:nth-child(3) img {
    width: 9.1rem;
}
.grid-timetable:nth-child(4) img {
    width: 6.7rem;
}
.grid-timetable:nth-child(5) img {
    width: 6.5rem;
}
.grid-timetable:nth-child(6) img {
    width: 5.8rem;
}
.img-grid {
    transition: all .3s ease;
}
.grid-timetable:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
 }
 .grid-timetable:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
 .grid-timetable:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
 }
 .grid-timetable:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: transparent;
 }
 .grid-timetable:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
 }
 .grid-timetable:nth-child(6) {
    grid-column: 3 / 4;
   grid-row: 3 / 5;
}
.grid-timetable-data {
    font-size: 18px;
    font-weight: 400;
    color: rgba(1, 1, 1, .7);
    text-align: right;
    margin: 0;
 }
 .grid-timetable-title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
 }
 .grid-timetable-description {
     
    font-size: 18px;
    overflow: hidden;
    margin-top: 1rem;
    max-height: 0;
    transition: all .2s linear;

 }
 .grid-timetable:nth-child(4):hover {
    border: 1px solid rgba(43, 53, 65, 0.2);
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
 }
 .grid-timetable:nth-child(4)
 .grid-timetable-description  {
    max-height: 150px;
 }

 .grid-timetable:nth-child(1):hover
 .grid-timetable-description  {
    max-height: 150px;
 }
 .grid-timetable:nth-child(2):hover
 .grid-timetable-description  {
    max-height: 150px;
 }
 .grid-timetable:nth-child(3):hover
 .grid-timetable-description  {
    max-height: 150px;
 }
 .grid-timetable:nth-child(5):hover
 .grid-timetable-description  {
    max-height: 150px;
 }
 .grid-timetable:nth-child(6):hover
 .grid-timetable-description  {
    max-height: 150px;
 }

 .grid-timetable:hover {
    border: 1px solid rgba(43, 53, 65, 0.2);
    background: rgba(243, 243, 243, .5);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
    transition: all .3s ease;
 }
 
 .grid-timetable:nth-child(1)
 .grid-timetable:hover
 .grid-timetable-title {
    margin-top: 1rem;
   
 }
 .grid-timetable:nth-child(2)
 .grid-timetable:hover
 .grid-timetable-title {
    margin-top: 1rem;
    transition: all .3s ease;
 }
 .grid-timetable:nth-child(3)
 .grid-timetable:hover
 .grid-timetable-title {
    margin-top: 1rem;
    transition: all .3s ease;
 }
 .grid-timetable:nth-child(5)
 .grid-timetable:hover
 .grid-timetable-title {
    margin-top: 1rem;
    transition: all .3s ease;
 }
 .grid-timetable:nth-child(6)
 .grid-timetable:hover
 .grid-timetable-title {
    margin-top: 1rem;
    transition: all .3s ease;
 }



 .grid-timetable:hover
 .img-grid {
    transition: all .3s ease;
 }
 .workout-schedule {
     margin: 0;
 }
 .subscription {
     background-color: #F3F3F3;
     margin-top: 16.2rem;
     margin-bottom: 0px;
 }
 .subscription-blok {
    max-width: 60rem;
    margin: auto;
    
  
    padding-top: 8rem;
    padding-bottom: 11.4rem;
    position: relative;
    z-index: 1;
}
 .subscription-title {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;

 }
 .subscription-title::before {
    position: absolute;
    content: " ";
    top: -28px;
    right: 57.6rem;
    height: 5.3rem;
    width: 5.3rem;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    border-radius: 100%;
    z-index: -1;
 }
 .send {
    display: flex;
    gap: 20px;
    justify-content: space-between;
 }
 .email {
    display: block;
    width: 100%;
    padding: 10px 19px;
    font-size: 18px;
    height: 100%;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid transparent;
 }

 .email:not(:focus):invalid {
    outline: 1px solid #FFFFFF;
    background: #FFFFFF;
}

.email:invalid {
    outline: 1px solid #AE0303;
}
 .send-input {
    width: 100%;
    margin-right: 7px;
    height: 65px;
 }
 .form-send-subscription input[type="email"] {
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     font-size: 1.8rem;
}
 .form-send-subscription {
    position: relative;
    max-width: 64.6rem;
    padding-top: 1rem;
    margin: 0 auto;
}

 .send-subscription-btn {
     background-color: #FBF138;
     box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
     border: none;
     padding: 2.1rem 4.3rem;
     font-size: 1.6rem;
     font-weight: 700;
     text-transform: uppercase;
     line-height: 150%;
     cursor: pointer;
     transition: all .3s ease;
 }
 .send-subscription-btn:hover {
    background-color: #2B3541;
    color: #FBF138;
 }

 .checkbox-text {
    color: #8F949A;
    font-size: 1.1rem;
    font-weight: 400;
 }
.checkbox-text a {
    font-size: 1.1rem;
    line-height: 150%;
    font-weight: 400;
    color: #8F949A;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.checkbox:checked,
 .checkbox:not(:checked){
    position: absolute;
    left:-9999px;
 }
 .checkbox:checked + label,
 .checkbox:not(:checked) + label{
    position: relative;
    padding-left: 2.5rem;
    cursor:pointer;
 }

 /* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
 .checkbox:checked + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: #2B3541;
    border-radius: 2px;
    border: 2px solid #2B3541;
 }
 /* Стили для псевдоэлемента after с изображением, когда пункт активен */
 .checkbox:checked + label::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .3s ease;
    opacity: 1;
    left: 4px;
    top: calc(50% - 6px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/icons/check_box.svg);
 }
 /* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
 .checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #2B3541;
 }
 /* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
 .checkbox:not(:checked) + label::after{
    content:'';
    position: absolute;
    width: 24px;
    height: 24px;
    transition: all .3s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-position: 0 -12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/icons/check_box_empty.svg);
 }
 .radio:checked + label::before{
    border-radius: 100%;
 }

 /*-------about-company-------*/

 .company-flex {
    position: relative;
}
 .about-company {
    margin-top: 15.5rem;
}

.container-content {
    position: relative;
    margin-bottom: 15rem;
}
.container-content img {
    position: absolute;
    width: 58rem;
    height: 33.4rem;
    top: 0px;
    right: 0px;
}


.about-company-img-gradient {
    display: block; 
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/trainer.png);
    width: 51%;
    height: 33.4rem;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;

}
.about-company-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.about-company-text {
    font-size: 1.8rem;
    line-height: 150%;
    width: 50rem;
    margin: 0;
}
.about-company-btn {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding: 2.3rem 5.2rem;
    background-color: #FBF138;
    font-size: 1.6rem;
    line-height: 150%;
    text-transform: uppercase;
    color: #2B3541;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 5rem;
}
.about-company-btn:hover {
    background-color: #2B3541;
    color: #FBF138;
}
.about-company-item {
    display: grid;
    column-gap: 26px;
    margin-top: 10rem;
    grid-template-columns: repeat(4, 1fr);
}
.company-benefits-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 125%;
}


.company-benefits-description {
    font-size: 1.8rem;
    opacity: 0.6;
    line-height: 150%;
}

/*----FOOTER----*/

.footer-logo-img {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 9.7rem;
    height: 3rem;
} 
.footer-item {
    display: flex;
    gap: 10rem;
    justify-content: space-between;
}

.footer-cover {
    display: flex;
    justify-content: space-between;
}

.footer-body {
    position: relative;
    background: #F3F3F3;
    padding-top: 5.5rem;
    padding-bottom: 7rem;
    z-index: 0;
}
.footer nav {
    margin-bottom: 1.7rem;
}
.footer-ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
}
.footer-ul a:hover {
    padding-bottom: .8rem;
    border-bottom: #2B3541 1px solid ;
    transition: all .3s ease;
}
.footer-social {
    display: flex;
    gap: 3.2rem;
    margin-bottom: 1.6rem;
}
.footer-social-in {
    display: block;
    background-image: url(../images/insta.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    transition: all .3s ease;
    transform: scale(1);
    opacity: 0.8;
}
.footer-social-in:hover {
    transform: scale(1.2);
    opacity: 1;
}
.footer-social-fb {
    display: block;
    background-image: url(../images/fs.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    transition: all .3s ease;
    opacity: 0.8;
}
.footer-social-fb:hover {
    transform: scale(1.2);
    opacity: 1;
}
.footer-ul a {
    font-size: 1.8rem;
    color: #2B3541;   
    text-decoration: none;
}
.footer-rights {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    color: #B7BABE;
    font-size: 15px;
}
.footer-linc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    color: #B7BABE;
}
.footer-site {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #2B3541;
    left: 2rem;
}
.footer-site::before {
    position: absolute;
    content: " ";
    top: -11px;
    right: 13.2rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    border-radius: 100%;
    z-index: -1;
}
.footer-contacts {
    display: flex;
    align-items: center;
    gap: 6rem;
}


/*----MODAL----*/

 .blackout {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
 }
 .js-modal-modalpopap .blackout {
    display: block;
 }
 
#event_modal {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    max-width: 600px;
   background: #F3F3F3;
   position: absolute;
   z-index: 5;
}

 .js-modal-modalpopap #event_modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
 }
  .modal_windows {
    display: flex;
    flex-direction: column;
    padding: 60px 50px 82px;
 
  }
  .modal_content {
    text-align: center;
    margin: 0 auto;
  }
  .modal-close {
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-image: url(../images/close-mpdal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .modal-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    margin: 0;
    display: inline;
    position: relative;
    z-index: 1;
}


.modal-title::before {
    content: '';
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    position: absolute;
    left: -40px;
    top: -32px;
    z-index: -1;
}
.modal-description {
    font-size: 1.8rem;
    line-height: 150%;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.popup-form > input {
    display: block;
    outline: none;
    border: none;
    margin: 0 auto;
    padding: 23px 10px 23px 17px;
    width: 90%;
    font-size: 1.8rem;
}
.popup-form input[type="email"] {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.send-button {
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    font-weight: 700;
    padding: 3.3rem 10rem;
    text-decoration: none;
    margin-top: 2rem;
    border: none;
    
}
.send-button:hover {
    background-color: #2B3541;
    color: #FBF138;
    cursor: pointer;
}


/*---BURGER---*/

.header-burger {
    width: 85px;
    height: 22px;
    cursor: pointer;
    background-image: url(../images/modal.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: block;
    margin-left: 3.6rem;
}

.blackout-menu {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
 }
 
 .js-modal-modalburger .blackout-menu {
    display: block;
 }

 .js-modal-modalburger #modal {
    top: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    padding: 60px 15px 15px;
   
 }
 
 #modal {
    width: 100%;
    background: #F3F3F3;
    text-align: center;
    position: absolute;
    margin: auto 0;
    transition: all .3s ease;
    box-sizing: border-box;
    z-index: 5;
 }

 

.header-ul-burger  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    text-align: left;
    margin: 3rem 0;
    padding: 0;
    column-rule: 1px;
    list-style-type: none;
    
}
.header-ul-burger a:hover{
    padding-bottom: .8rem;
    border-bottom: #2B3541 1px solid;
}
.header-ul-burger a {
    font-size: 1.8rem;
    color: #2B3541;   
    text-decoration: none;
    transition: all .3s ease;
}

#modal .social {
    justify-content: flex-end;
}
#modal .header-ul-burger  li:nth-child(2) {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #CBCDCF;
    border-bottom: 1px solid #CBCDCF;
}
#modal .header-ul-burger  a:hover{
    padding-bottom: 8px;
    border-bottom: #2B3541;
}
#modal .logo-header {
    margin-top: 0px;
}
.burger-close  {
    background-image: url(../images/close-mpdal.svg);
    background-repeat: no-repeat;
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    width: 2.5rem;
    height: 100%;
    top: 6rem;
    right: .8rem;
}
.workout-box {
    display: flex;
    position: relative;
    width: 82%;
}

/*---------MEDIA-------*/


@media (min-width: 769px) {
    .header-burger {
        display: none;
    }
}
@media (min-width: 551px) {
    .about-company-btn-mobile { 
        display: none;
    }
}
@media (max-width: 1500px) {
    .workout-box {
        width: 75%;
    }
    .title {
        font-size: 4.7rem;
    }
    .box {
        right: -19.5rem;
        height: 90%;
    }
}
@media (max-width: 1250px) {
    .timetable-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 350px;
    }
    .grid-timetable {
       height: 333px;
    }
    
    /*---------Функциональный тренинг-------*/
    .grid-timetable:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

 /*---------Силовой микс-------*/
    .grid-timetable:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .grid-timetable:nth-child(4) 
    .grid-timetable-title {
        margin-top: 0;
    }
    .grid-timetable-description {
        font-size: 12px;
    }
 
 /*---------Body sculpt-------*/
    .grid-timetable:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-height: 22.4rem;
    }

 /*---------Дыхательные практики-------*/
    .grid-timetable:nth-child(5){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-height: 22.4rem;
    }

   /*---------L.A.B.------*/
.grid-timetable:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    max-height: 22.4rem;
}
  
   /*--------Комплексная разминка------*/
    .grid-timetable:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        max-height: 22.4rem;
    }
    .box {
        right: -12rem;
    }
    .title {
        font-size: 3.7rem;
        max-width: 50rem;
    }
    .arrow {
        margin-top: 5.5rem;
    }
    .about-company-img-gradient {
        width: 48%;
    }


}
@media (max-width: 1115px) {
    .about-company-item {
        grid-template-columns: repeat(2, 2fr);      
    }
    .company-benefits-title {
        font-size: 16px;
    }
    .company-benefits-description {
        font-size: 16px;
        width: fit-content;
    }

}
@media (max-width: 1000px) {
    .text-right {
        margin-left: 4rem;
    }
    .event {
        margin-top: 9rem;
    }
    .text {
        max-width: 40rem;
    }
    .title {
        font-size: 2.7rem;
        margin-top: 13px;
    }
    .box-event {
        grid-template-rows: 50rem 1fr;
    }
    .timetable {
        margin-top: 0rem;
    }
    .text {
        margin-top: 7rem;
    }
    .box {
        right: -8rem;
 max-width: 52%;
    }
    .box-image {
        max-width: 143%;
    }
    .about-company-text{
        width: 45rem;
    }
 
}
@media (max-width: 950px) {

    .text {
        margin-top: 10.4rem;
    }
 
    .event-title {
        font-size: 2.1rem;
        max-width: 20rem;
    }
    .subscription {
        margin-top: 11rem;
    }
    .about-company-img-gradient {
        width: 50%
    }
    .about-company {
        margin-top: 11.5rem;
    }
   .participate {
       padding: 2rem 1.7rem;
   }
   .header-ul {
       gap: 2.5rem;
   }
   .banner-text {
       padding: 2rem 3.5rem;
       font-size: 1.4rem;
   }
   .subtitle {
       font-size: 3rem;
   }
   .box {
        right: -6rem;
        height: 86%;
    }
    .box-image {
        right: -12.3rem;
        max-width: 179%;
    }
    .about-company-text {
        width: 39rem;
    }
    .footer-cover {
        flex-direction: column;
        row-gap: 1rem;
    }
    
    .footer-contacts {
        gap: 3.3rem;
        align-self: flex-end;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 76.7rem;
    }
    .header-logo-img {
        width: 7.8rem;
        height: 2.4rem;
    }
    .header-burger {
        margin-left: 4.5rem
    }
    .form-send-subscription {
        padding-bottom: 42px;
    }
    .about-company {
        margin-top: 7.5rem;
    }
    .about-company-title {
        font-size: 2.5rem;
    }
    .about-company-text {
        font-size: 1.5rem;
        padding-bottom: 5rem;
        max-width: 25rem;
    }
    .about-company-img-gradient {
        background-size: cover;
        max-width: 35rem;
        max-height: 23rem;
    }
    .text {
        margin-top: 4.4rem;
    }
    .title {
        font-size: 2.5rem;
        max-width: 40rem;
    }
    .subtitle {
        font-size: 2.6rem;
        line-height: 50%;
    }
    .desc {
        margin-top: 2.3rem;
        margin-bottom: 7.3rem;
    } 
    .text-right {
        margin-left: 0;
    }
    .header-ul {
        display: none;
    }
    .banner-workout {
        margin-bottom: 0;
        max-height: 53rem;
    }
    .arrow {
        margin-top: 6.1rem;
        width: 4rem;
        height: 4.3rem;
    }
    .events-headers h3 {
        font-size: 2.5rem;
    }
    .box {
        height: 91%;
    }
    .box-image {
        max-width: 140%;
        top: 7rem;
    }
    .box-event {
        display: grid;
        grid-template-rows: 30.9rem 33.6rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c c";
        gap: 10px;
        height: auto;
        margin: 0 auto;
    }
    .event-vebinar-2 {
        background-image: url(../images/promo-center.png);
    }
    .container-content {
        margin-bottom: 6rem;
    }
    .event-data {
        font-size: 1.3rem;
    
    }
    .event-title {
    font-size: 1.6rem;
    max-width: 18rem;
    }

    .participate {
        display: none;
    }
    .btn-event {
        display: block;
    }
    .button-participate {
        display: block;
        padding: 6px 15px;
        left: 0;
        right: auto;
        font-size: 12px;
    }

    .timetable {
        margin-top: 4.5rem;
    }
    .timetable-title {
        font-size: 2.7rem;
    }
    .timetable-data {
        font-size: 1.8rem;
        margin-top: 3.5rem;
    }
    .timetable-grid {
        margin-top: 2rem;
    }
    .subscription {
        margin-top: 12.2rem;
    }
    .subscription-title {
        font-size: 2.6rem;
        line-height: 84%;
        width: 30rem;
    }
    .subscription-blok {
        padding-top: 6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .subscription-title::before {
        top: -28px;
        right: 23rem;
        height: 4rem;
        width: 4rem;
    }

    .send {
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;    
    }
    .form-send-subscription {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 93%;
    }
    .send-subscription-btn {
        margin-top: 5rem;
    }
    .footer {
        margin-top: 2.5rem; 
    }
    .footer-ul {
        gap: 3rem;
    }
    .footer-ul a {
        font-size: 15px;
    }
    .site {
        font-size: 1.2rem;
    }
    .footer-site {
        font-size: 1.2rem;
    }
    .footer-site::before {
        right: 10.2rem;
    }
    .site::before {
        right: 10rem;
    }
    .footer-social {
        gap: 1.2rem;
    }
    .modal_content {
        width: 35em;
    }
    .modal-title {
        font-size: 1.8rem;
    }
    .modal-title::before {
        width: 35px;
        height: 35px;
        left: -27px;
        top: -25px;
    }
    .footer-item {
        gap: 2rem;
    }
}
@media (max-width: 750px) { 
 
    .box {  
        right: 0rem;
        height: 53vw;
    }
    .event {
        margin-top: 9rem;
    }
    .footer-rights {
        font-size: 12px;
    }
    .grid-timetable-title {
        margin-top: 17px;
        margin-bottom: 0.5rem;
        line-height: 1.2;
    }
    .footer-rights {
          flex-direction: column;
    font-size: 10px;
    align-items: center;
    }
    .footer-cover {
        align-items: center;
    }
    .footer-contacts {
        align-self: initial;
        justify-content: space-between;
        width: 100%;
    }
}
@media (max-width: 550px) {

    .banner-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .grid-timetable {
        height: 170px;
    }
    .title {
        font-size: 2.2rem;
        text-align: center;
    }
    .subtitle {
        display: block;
        text-align: center;
       
    }
    .desc {
        text-align: center;
        max-width: 100%;
        margin-bottom: 1.5rem;
    }
    .event {
        margin-top: 11rem;
    }
    .timetable {
        margin-top: 2.5rem;
    }
    .timetable-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: dense;
        grid-template-rows: 14rem 14rem 14rem 14rem 14rem 14rem;
        gap: 7rem;
    }
    .grid-timetable:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    .grid-timetable:nth-child(2) {
        grid-column: 1;
        grid-row: 3;
    }
    .grid-timetable:nth-child(3) {
        grid-column: 1;
        grid-row: 5;
    }
    .grid-timetable:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
    }
    .grid-timetable:nth-child(5) {
        grid-column: 1;
        grid-row: 4;
    }
    .grid-timetable:nth-child(6) {
        grid-column: 1;
        grid-row: 6;
    }
    .grid-menu {
        display: flex;
        overflow: hidden;
        transition: all .3s ease;
    }
    .grid-timetable:nth-child(1) img {
        width: 4rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(2) img {
        width: 3rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(3) img {
        width: 5rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(4) img {
        width: 4rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(5) img {
        width: 4rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(6) img {
        width: 5rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-menu-text{
        display: flex;
        flex-direction: column;
         }
    .grid-timetable-title {
        margin-bottom: 1.5rem;
        }
    .grid-timetable-data {
        font-size: 16px;
     }
    .company-mobile {
        display: block;
        }
    .subscription {
        margin-top: 8rem;
        }
    .about-company-img-gradient {
        display: none;
        }
    .about-company-btn {
        display: none;
        }
    .about-company-btn-mobile {
        padding: 20px 40px;
        border: none;
        cursor: pointer;
        display: block;
        text-align: center;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2B3541;
        background-color: #FBF138;
        text-decoration: none;
        font-weight: 700;
        }
    .company-mobile-img {
        background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/trainer.png);
        width: 100%;
        height: 55vw;
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        }
        .company-mobile-flex {
        display: flex;
        flex-direction: column;
        }
        .footer {
            justify-content: center;
        }
        .footer-ul {
            padding: 0;
        }
        .site::before {
            right: 10rem;
        }
        .footer-item {
            gap: 2rem;
        }
        .footer-item {
            flex-direction: column;
            align-items: center;
            gap: 41px;
        }
        .footer-ul a {
            font-size: 1.2rem;
        }
     
        .send-button {
            padding: 1.7rem 4rem;
        }
        .modal_content {
            width: 25rem;
        }
        .modal-title {
            font-size: 1.5rem;
        }
        .modal-description {
            font-size: 1.3rem;
            margin-bottom: 2rem;
        }
        .modal_windows {
            padding: 55px 35px 30px;
        }
        .popup-form > input {
            padding: 20px 15px;
            font-size: 10px;
        }
        .popup-form input[type="email"] {
            font-size: 10px;
            padding: 20px 15px;
        }
        .box {
            height: 25rem;
            position: relative;
            align-self: center
        }
        .about-company-item {
            margin-top: 0rem;
            grid-template-columns: repeat(1, 4fr);
        }
        .arrow {
            display: none;
        }
        .workout-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        }
        .box-image {
        top: 0;
        max-width: 84vw;
        right: -5.7rem;
        }
        .subscription-blok {
            padding-bottom: 3.4rem;
        }
        .about-company {
            margin-top: 4.5rem;
        }
        
}
@media (max-width: 360px) {
    .modal-title::before {
        width: 20px;
        height: 20px;
        left: -15px;
        top: -13px;
    }
    .box-image {
        top: 0;
       
        right: 1.7rem;
       }
      
    .title {
        font-size: 2.2rem;
        margin-top: 0;
    }
    .desc {
        font-size: 1.5rem;
    }
    .text {
        margin-top: 4.4rem;
    }
    .desc {
        margin-bottom: 3.3rem;
    }
    .box {
        right: 0rem;
        max-width: 100%;
    }

    .event-title {
        font-size: 1.3rem;
        max-width: 10rem;
    }
    .subscription {
        margin-top: 5rem;
    }
    .subscription-blok {
        padding-bottom: 1rem;            
    }
    .about-company {
        margin-top: 3.5rem;
    }
    .box-event {
        grid-template-rows: 25rem 33rem;
    }
    .timetable-title {
        font-size: 2.3rem;
    }
    .grid-timetable-title {
        font-size: 1.5rem;
        margin: 0; 
    }
    .grid-timetable .grid-menu-text {
        margin-bottom: 10px;
        }
    .grid-timetable:nth-child(4)  .grid-menu-text {
    margin-bottom: 38px;
    }
    .grid-timetable:nth-child(1) img {
        width: 3rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(2) img {
        width: 2rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(3) img {
        width: 4rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(4) img {
        width: 3rem;
        margin-right: 20px;
        margin-bottom: 60px;
    }
    .grid-timetable:nth-child(5) img {
        width: 3rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .grid-timetable:nth-child(6) img {
        width: 3rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .modal_content {
        width: 21rem;
    }
    .send-button {
        padding: 1rem 2.5rem;
        font-size: 1.3rem;
    }
    .modal-title {
        font-size: 1.5rem;
    }
    .modal-description {
        font-size: 1.1rem;
        margin-top: 10px;
    }
    .modal-form > input {
        padding: 10px 0 5px 5px;
    }
    .grid-timetable {
        height: 100px;
    }
    .grid-menu {
        max-height: 14rem;
    }
    .grid-timetable-description {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .grid-timetable:nth-child(4) {
        min-height: 170px;
    }
    .timetable-grid {
        grid-template-rows: 12rem 19rem 12rem 12rem 12rem 12rem;
        gap: 10px;
        margin-top: 0;
    }
    .grid-timetable {
        min-width: 28rem;
        padding: 18px 8px 0;
        margin-right: 10px;
    }
    .footer-ul {
        gap: 2rem;
        margin: 0;
    }
    .subscription-title::before {
        height: 3.3rem;
        width: 3.3rem;
        top: -21px;
    }
    .about-company-text {
        padding-bottom: 0rem;
    }
    .about-company-item {
        width: 21rem;
    }
    .container-content {
        margin-bottom: 24px;
    }
    .footer-item {
        gap: 33px;
    }
    .footer-linc {
        font-size: 10px;
    }
    .form-send-subscription {
        width: 100%;
    }
}
@media (max-width: 340px) {
    .banner-text {
        padding: 2rem 1.3rem;
    }

    .events-headers h3 {
        font-size: 2rem;
    }
    .subscription {
        margin-top: 5rem;
    }
    .footer-ul a {
        font-size: 1.1rem;
    }
    .about-company {
        margin-top: 3.5rem;
    }
    .about-company-text {
        padding-bottom: 2rem;
    }
    .event-title {
        font-size: 1.2rem;
    }
    .timetable-title {
        font-size: 2rem;
    }
    .timetable-data {
        font-size: 1.5rem;
    }
    .box {
        height: 22rem;
    }
    .grid-timetable {
        min-width: 26rem;
    }
    .checkbox-text {
        font-size: 8px;
    }
    .checkbox-text a {
        font-size: 8px;
    }
    .agreement {
       justify-content: center;
    }
  
}